<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="bsnl" class = "com.nt.beans.Bsnl"/>
<bean id="airtel" class = "com.nt.beans.Airtel"/>
<bean id="company11" class = "com.nt.beans.Company_Sim">
<property name="sim" ref="airtel"/>
</bean>

</beans>

